<!doctype html>
<html lang="zh-cmn-Hans">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" />
  <meta name="renderer" content="webkit" />
  <meta name="force-rendering" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


  <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
  <title>Sign</title>
</head>

<body class="mdui-theme-layout-auto mdui-theme-primary-blue mdui-theme-accent-blue" style="height: 100%;">
  <div class="mdui-container" style="height:100%;">

    <div class="mdui-center" style="max-width:500px;margin-top:17vh;">

      <div class="mdui-card mdui-p-a-4 mdui-m-b-2 mdui-center mdui-shadow-6">
        <div class="mdui-typo-headline mdui-text-center mdui-m-y-1" style="width:100%;">登录 Talknet</div>
        <div class="mdui-textfield mdui-textfield-floating-label mdui-center">
          <label class="mdui-textfield-label">Name</label>
          <input class="mdui-textfield-input" type="text" />
        </div>
        <div class="mdui-textfield mdui-textfield-floating-label mdui-center mdui-m-b-2">
          <label class="mdui-textfield-label">Password</label>
          <input class="mdui-textfield-input" type="password" />
        </div>
        <button class="mdui-btn mdui-ripple mdui-m-t-2">返回</button>
        <button class="mdui-btn mdui-color-theme-accent mdui-ripple mdui-m-t-2 mdui-float-right">继续</button>
      </div>
      <div class="mdui-typo">
        <a><i class="mdui-icon material-icons mdui-m-r-1">compare_arrows</i>使用外置验证</a>
      </div>
      
    </div>

    
  </div>
  <script src="https://unpkg.com/mdui@1.0.2/dist/js/mdui.min.js"></script>
</body>

</html>